{% load static %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">
    <a class="navbar-brand" href="{% url 'cards:main_page' %}">
      <img src="{% static 'img/logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
      <span style="color:#C71585"><b>YarPinata</b></span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <h5><a class="nav-link">Всего постов на сайте: </a></h5>
      <li class="nav-item">
      <li class="nav-item">
        <h5><a class="nav-link">Всего постов на сайте: </a></h5>
      </li>
    </ul>
  </ul>
  </div>
</nav>